.dcs-footer {
  font-size: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4ee58b;
  box-shadow: 0em 0em 10px rgba(0,0,0,0.2);
  padding: 1em 0;
}

.dcs-footer__container {
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1em;
}

.dcs-footer__logo {
  flex-grow: 0;
  flex-shrink: 1;
  padding-right: 1em;
}
.dcs-footer__main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-basis: 100%;
}

.dcs-footer__body {
  padding-bottom: 1em;
  font-weight: bold;
  flex-basis: 50%;
  flex-grow: 1;
}

.dcs-footer__action {
  display: flex;
  align-items: center;
}
