/* close.css */


.dcs-close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
.dcs-close:hover {
  opacity: 1;
  cursor: pointer;
}
.dcs-close:before, .dcs-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #000;
}
.dcs-close:before {
  transform: rotate(45deg);
}
.dcs-close:after {
  transform: rotate(-45deg);
}
