
/* Digital Climate Strike scoped common element styles */
.sc-dcs {
  font-family: 'Katwijk', monospace;
  font-weight: bold;
  color: var(--grey);
}
.sc-dcs h1,
.sc-dcs h2 {
  font-family: 'Greve Narrow', 'Impact', sans-serif;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  color: var(--grey);
}
.sc-dcs h1 {
  font-size: 4rem;
}
.sc-dcs a {
  color: var(--grey);
}
.sc-dcs img {
  max-width: 100%;
}
.sc-dcs .h-center {
  text-align: center !important;
}
.dcs-button {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  box-shadow: 0.3rem 0.3rem 0 var(--black);
  font-weight: bold;
  font-family: 'Katwijk','Courier New',Courier,monospace;
  font-size: 1rem;
  letter-spacing: calc(0.07rem - 0.01rem);
  text-transform: uppercase;
  border-radius: 0;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}

.dcs-mobile-only {
  display: none;
}

.dcs-small-text {
  font-size: 0.5em;
}


@media(max-width: 600px) {
  .dcs-invisible-on-mobile {
    display: none;
  }
  .dcs-mobile-only {
    display: block;
    flex-basis: 100%;
    text-align: center;
  }
}
