
/* Digital Climate Strike scoped common element styles */
.sc-dcs {
  /* font-family: 'Katwijk', monospace;
  font-weight: bold;
  color: var(--grey); */

  /* & h1,
  & h2 {
    font-family: 'Greve Narrow', 'Impact', sans-serif;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: var(--grey);
  }

  & h1 {
    font-size: 4rem;
  }

  & a {
    color: var(--grey);
  } */

  /* & img {
    max-width: 100%;
  } */


}

.h-center {
  text-align: center !important;
}

.dcs-mobile-only {
  display: none;
}

.dcs-small-text {
  font-size: 0.5rem;
}

@media(max-width: 600px) {
  .dcs-invisible-on-mobile {
    display: none;
  }

  .dcs-mobile-only {
    display: block;
    flex-basis: 100%;
    text-align: center;
  }
}
