@font-face {
  font-family: 'Katwijk';
  src: url('webfonts/katwijk-mono-bold-web.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/katwijk-mono-bold-web.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfonts/katwijk-mono-bold-web.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: bold;
}

@font-face {
  font-family: 'Katwijk';
  src: url('webfonts/katwijk-mono-regular-web.eot'); /* IE9 Compat Modes */
  src: url('webfonts/katwijk-mono-regular-web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/katwijk-mono-regular-web.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/katwijk-mono-regular-web.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfonts/katwijk-mono-regular-web.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: normal;
}
