.dcs-full-page {
  background-color: #4ee58b;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dcs-full-page__container {
  max-width: 40rem;
}
.dcs-full-page__main {
  display: flex;
  flex-wrap: nowrap;
}
.dcs-full-page__logos {
  display: flex;
  align-items: center;
}
.dcs-full-page__logo {
  padding: 1em;
  flex-basis: 30%;
  flex-shrink: 1;
}
.dcs-full-page__details {
  padding: 1em;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}
.dcs-full-page__body {
  font-weight: bold;
  font-size: 1.25rem;
}
.dcs-full-page__action {
  display: flex;
  align-items: center;
  justify-content: center;
}
